/* src/components/Home.css */

:root {
    --primary-color: #ff6f61;
    --secondary-color: #4a4a4a;
    background-color: lightblue;
    --font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--secondary-color);
}

.hero {
    position: relative;
    text-align: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url('../assets/pan-sesamo.jpg') no-repeat center center/cover;
    color: white;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    display: none;
}

.hero-text {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
}

.hero h1 {
    font-size: 3.5em;
    margin: 0;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero p {
    font-size: 1.8em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.products, .about, .contact {
    padding: 50px 20px;
    text-align: center;
}

    .products h2, .about h2, .contact h2 {
        font-size: 2.8em;
        margin-bottom: 20px;
        color: var(--primary-color);
        position: relative;
        display: inline-block;
    }

        .products h2::after, .about h2::after, .contact h2::after {
            content: '';
            width: 50%;
            height: 4px;
            background: var(--primary-color);
            position: absolute;
            bottom: -10px;
            left: 25%;
        }

.product-item {
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

    .product-item:hover {
        transform: translateY(-10px);
        box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
    }

.product-image {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.about-image {
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.about-text {
    max-width: 600px;
    text-align: left;
}

.contact p {
    font-size: 1.4em;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5em;
    }

    .hero p {
        font-size: 1.5em;
    }

    .products h2, .about h2, .contact h2 {
        font-size: 2em;
    }

    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-text {
        text-align: center;
    }
}
