/* navbar.css */

.navbar {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo img {
    height: 70px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

    .navbar-menu li {
        display: inline;
    }

    .navbar-menu a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        transition: color 0.3s ease;
    }

        .navbar-menu a:hover {
            color: #007BFF;
        }

.navbar-user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-icon {
    color: #333;
    font-size: 2rem;
}

.user-name {
    font-weight: bold;
    color: #333;
}

.logout-button, .auth-link {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-weight: bold;
    text-decoration: none;
}

    .logout-button:hover, .auth-link:hover {
        background-color: #0056b3;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

.auth-link {
    color: #ffff;
    font-weight: bold;
}

@media (max-width: 768px) {
    .navbar-menu {
        display: none;
    }

    .navbar-container {
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .navbar-user {
        display: none;
    }
}

.auth-link:hover {
    text-decoration: underline;
    background-color: darkcyan;
    color: white;
}
